

.title{

    font-weight: bolder;
    font-size: 200px;
    cursor: default;
    position: absolute;
    width: inherit;
    
    color:black;
    text-align: center;


}

.title span {
    position: relative;
    z-index: 0;
}

.title .cap{
    font-size: 250px;
}

.titleWrapper {
    margin-top: 400px;
    margin-left: 500px;
    margin-right: 500px;
    position: relative;
    height: 300px;
    width: 1600px;
    text-align: center;
}

.secondaryWrapper {
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 500px;
    position: relative;
    height: 300px;
    width: 1600px;
    text-align: center;
}

.description {
    margin: auto;
    padding-bottom: 20px;
    width: inherit;

    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 25px;

    color: black;
}

#nav {
    margin: auto;
    width: inherit;
    height: fit-content;
    text-align: center;
    position: relative;
}

#nav div {
    font-size: 25px;
    font-family: monospace;
    margin: 25px;
    border: 2px brown solid;
    background-color: wheat;
    padding: 5px;
    display: inline-block;
}

#nav a {
    color: navy;
}

#nav a:visited {
    color: navy;
}

#nav div:hover {
    transform: scale(1.15);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.secondary {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 50px;
    
    margin-bottom: 50px;
    margin-top: 50px;
}

#demo {
    position: absolute;
    top: 88px;
    left: 325px;
    width: inherit;
    z-index: -1;
}

#aesFix {
    position: absolute;
    top: 88px;
    left: 325px;
    width: inherit;
    z-index: 2;

}

.aesEvent {
    position: absolute;
    z-index: 1;
}

.aesDot {
    border-radius: 50%;
    position: relative;
    margin: auto;
    width: 30px;
    height: 30px;
    background-color:black;
}

.aesLine {
    width: 5px;
    position: relative;
    margin: auto;
    background-color:black;
}

#firstDot {
    left: 708px;
    top: 50px;
}

#firstDot .aesLine {
    height: 18px;
}

#secondDot {
    left: 1267px;
    top: 120px;
}

#secondDot .aesLine {
    height: 80px;
    background-color: cadetblue;
}

#secondDot .aesDot {
    background-color: cadetblue;
}

#thirdDot {
    left: 1326px;
    top: 50px;
}

#thirdDot .aesLine {
    height: 18px;
}

.aesDot:hover {
    width: 35px;
    height: 35px;
}

p {
    font-family: sans-serif;
    font-size: 20px;
    
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
code {
    white-space: pre-wrap;
    font-size: 18px;
} 
.viewCode {
    background-color: whitesmoke;
    border: 1px solid cadetblue;
    padding: 5px;
    width: fit-content;
    cursor: default;
    margin-left: 30px;
}

.viewCode:hover {
    transform: scale(1.1);
}

.exampleCode {
    display: none;
    white-space: pre-wrap;
    font-size: 18px;
}

#historyCode {
    display: none;
}

#peopleCode {
    display: none;
}

#milestoneCode {
    display: none;
}

.docTitle {
    font-size: 25px;
    text-decoration: underline;
}

.menu {
    height: 100%;
    width: 250px;
    background-color: blanchedalmond;
    position:fixed;
    display: block;
    top: 0px;
    left: 0px;
}


.menu a div {
    font-size: 20px;
    font-family: monospace;
    margin: auto;
    margin-top: 25px;
    
    background-color: blanchedalmond;
    padding: 5px;
    display: block;
    width: 95%;
    text-align: center;
}

.menu a {
    color: navy;
}

.menu a:visited {
    color: navy;
}

.menu a div:hover {
    font-size: 22px;
}

.menu #menuTitle {
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    
    margin-bottom: 40px;
    margin-top: 50px;
}

#main {
    margin-left: 300px;
    width: 80%;
}

.menu a #current {
    background-color: brown;
}


h2 {
    font-family: sans-serif;
}



