.categoryName {
    position: absolute;
    cursor: default;
}

.eventDot {
    border-radius: 50%;
    position: relative;
    margin: auto;
}

.eventLine {
    width: 5px;
    position: relative;
    margin: auto;
}
.eventTitle {
    position: absolute;
    visibility: hidden;
}
.eventBox {
    position: absolute;
    max-width: 300px;
    padding: 15px;
    border-radius: 5%;
}
.eventBox div {
    overflow: auto;
    max-width: inherit;
}

.eventBox #eventTime {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-style: italic;
}

.eventBox #eventTitle {
    font-size: 20px;
    text-align: center;
}

.eventBox #eventDescription {
    font-family: sans-serif;
    font-size: 15px;
}

.closeButton {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 20px;
    height: 20px;
    border-radius: 30%;
    background-color: red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: default;
    text-align: center;
}
.closeButton:hover {
    background-color: darkred;
}
.timeline2d {
    position: relative;
}
.timeline2d .overlay {
    position: absolute;
}

.timeline2d canvas {
    position: absolute;
}

.timelinePanel {
    height: fit-content;
    width: fit-content;
    
    position: relative;
    margin: auto;
    bottom: 0px;
}

.timelineZoom{

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 0px;
    background-color: lightgray;
    font-size: 20px;
} 

.timelineZoom:hover {
    background-color:grey;
}

.timelineZoom:disabled {
    opacity: 0.6;
}




.timelineMove {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 0px;
    background-color: lightgray;
    font-size: 20px;
}

.timelineMove:hover {
    background-color:grey;
}

.timelineMove:disabled {
    opacity: 0.6;
}

.timelineWrapper {
    position: relative;
    margin: 10px;
}

.timelineScale{
    position: absolute;
}

.timelineScale svg{
    display: block;
}

.timelineScale div{
    display: block;
}

.timelineScale #timeContent{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
