.categoryName {
    position: absolute;
    cursor: default;
}
.eventDot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    margin: auto;
}
.eventDot:hover {
    width: 25px;
    height: 25px;
}
.eventLine {
    width: 5px;
    position: relative;
    margin: auto;
}
.eventTitle {
    position: absolute;
    visibility: hidden;
}
.eventBox {
    position: absolute;
    width: 200px;
    background-color: blanchedalmond;
    padding: 5px;
}
.eventBox div {
    overflow: auto;
    max-width: inherit;
}
.closeButton {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    background-color: red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: blanchedalmond;
    cursor: default;
}
.closeButton:hover {
    background-color: darkred;
}
.timeline2d {
    position: relative;
}
.timeline2d .overlay {
    position: absolute;
}

.timeline2d canvas {
    position: absolute;
}

.timelinePanel {
    height: fit-content;
    width: fit-content;
    background-color: lightgray;
    position: relative;
    margin: auto;
}

.timelineWrapper {
    position: relative;
    margin: 10px;
}

.timelineScale{
    position: absolute;
    color: whitesmoke;
}
